<h2>Manage Hero Powers</h2>

<br>
<!-- <div>
  <label>Power Name: <input #powerName /></label>
  <button (click)="add(powerName.value); powerName.value=''">Add</button>
</div> -->

<div class="row">
  <div class="col-md-12">
    <div class="input-group">
      <div class="input-group-prepend">
        <button class="btn btn-secondary" type="button" id="button-addon1">Power Name</button>
      </div>
      <input #powerName type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
      <div class="input-group-append" id="button-addon4">
          <button class="btn btn-success" type="button" (click)="add(powerName.value); powerName.value=''">Add</button>
        </div>
    </div>    
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-12">
    <table class="table table-sm table-border table-collapse table-hover">
      <thead>
        <tr>
          <th>ID#</th>
          <th>Name</th>
          <th>Manage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let power of powers" routerLink="/power/detail/{{power.id}}" style="cursor: pointer;">
          <td>{{ power.id }}</td>
          <td>{{ power.name }}</td>
          <td>
            <button type="button" class="btn btn-info btn-sm" title="update power" (click)="update(power)">Update</button>&nbsp;
            <button type="button" class="btn btn-danger btn-sm" title="delete power" (click)="delete(power)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>      
  </div>
</div>




