<div *ngIf="hero">

  <h2>{{hero.name | uppercase}} Details</h2>

  <div class="row">
    <div class="col-md-6">
      <span>Hero ID: </span>{{hero.id}}
    </div>
  </div>

  <div class="row">
      <div class="col-md-6">
        <label>Name: <input class="form-control" [(ngModel)]="hero.name" placeholder="name" /></label>
      </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Description: <textarea class="form-control" [(ngModel)]="hero.description" placeholder="name" cols="70" rows="3"></textarea></label>
    </div>
</div>

<h5>Powers</h5>

  <div *ngIf="true" class="row">
    <div class="col-md-12">
        <table class="table table-sm table-border table-collapse table-hover">
          <thead>
            <tr>
              <th>ID#</th>
              <th>Name</th>
              <th style="text-align: right">Manage</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let power of powers" routerLink="/power/detail/{{power.id}}" style="cursor: pointer;">
              <td>{{ hero.id }}</td>
              <td>{{ hero.name }}</td>
              <td style="text-align: right">
                  <button type="button" class="btn btn-info btn-sm" title="edit power" (click)="edit(power)">Edit</button>&nbsp;
                  <button type="button" class="btn btn-danger btn-sm" title="delete power" (click)="delete(power)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

  <div>
      <!-- <label>Powers: </label>
      <ul class="powers">
        <li *ngFor="let power of hero.powers">
          <a routerLink="/power/detail/{{power.id}}">
            <span class="badge">{{power.id}}</span>{{power.name}}
          </a>
          <button class="delete" title="delete power" (click)="delete(power)">x</button>
        </li>
      </ul> -->
      <!-- <label>
        Available Powers: 
        <select>
          <option *ngFor="let heroPower of heroPowers" value="{{heroPower.id}}">{{heroPower.name}}</option>
        </select>
        <button (click)="addPower()">Add Power</button>
      </label> -->
  </div>
  <button type="button" class="btn btn-secondary btn-sm" (click)="goBack()">Back</button>&nbsp;
  <button type="button" class="btn btn-success btn-sm" (click)="save()">Save</button>
</div>