<h3>Top Heroes</h3>

<br>

<div class="card-deck">
  <div *ngFor="let hero of heroes" routerLink="/superhero/detail/{{hero.id}}" class="card">
    <!-- <img src="..." alt="Card image cap" class="card-img-top"> -->
    <div class="card-body">
      <h5 class="card-title">{{hero.name}}</h5>
      <p class="card-text">{{hero.description}}</p>
      <p class="card-text"><small class="text-muted">{{hero.lastUpdated}}</small></p>
    </div>
  </div>
</div>

<br>

<div>
  <app-hero-search></app-hero-search>
</div>