<h2>Manage Heroes</h2>

<br>

<div class="row">
  <div class="col-md-12">
    <div class="input-group">
      <div class="input-group-prepend">
        <button type="button" class="btn btn-secondary" id="button-addon1">Hero Name</button>
      </div>
      <input #heroName type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
      <div class="input-group-append" id="button-addon4">
          <button type="button" class="btn btn-success" (click)="add(heroName.value); heroName.value=''">Add</button>
        </div>
    </div>    
  </div>
</div>

<br>

<!-- <p>Hero Count: {{ heroes?.length }}</p> -->

<div class="row">
    <div class="col-md-12">
      <table class="table table-sm table-border table-collapse table-hover">
        <thead>
          <tr>
            <th>ID#</th>
            <th>Name</th>
            <th style="text-align: right;">Manage</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hero of heroes" routerLink="/hero/detail/{{hero.id}}" style="cursor: pointer;">
            <td><a>{{ hero.id }}</a></td>
            <td>{{ hero.name }}</td>
            <td style="text-align: right;">
              <button type="button" class="btn btn-info btn-sm" title="Edit Hero ID: {{hero.id}}" (click)="edit(hero)">Edit</button>&nbsp;
              <button type="button" class="btn btn-danger btn-sm" title="Delete Hero ID: {{hero.id}}" (click)="delete(hero)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>      
    </div>
  </div>